<%= render "shared/navbar" %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);">
  <div class="container">
    <h1>NUGGET <strong>share your favourites</strong> with <strong>your favourites</strong>!</h1>
    <p>A place to store your favourite things and share with your favourite people</p>
  </div>
</div>

<div class="signup-form">
  <h2>Sign up</h2>
  <br>
  <br>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false})  do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>
     <br>
    <div class="form-actions, btn-flat">
      <%= f.button :submit, "Sign up"%>
    </div>
  <% end %>
  <br>
  <br>
  <div class="form-actions, btn-ghost">
    <%= render "devise/shared/links" %>
  </div>
</div>
<div >
  <%= render "shared/footer" %>
</div>
