<%= @sub_category.name %>
<%= @sub_category.address %>
<%= @sub_category.rating %>
<%= @sub_category.review %>

<div style="width: 50%; height: 300px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<%= link_to "Back", :back %>
<%= link_to "Delete", category_sub_category_path(@category, @sub_category), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
