<h2><%= @sub_category.name %></h2>
<p><%= @sub_category.location %></p>
<p><%= @sub_category.rating %></p>
<p><%= @sub_category.review %></p>

<%= link_to "Delete",
  sub_category_path(@sub_category),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

<%= link_to "Categories", categories_path %>
