<%= render "shared/navbar" %>
<div class="container mt-5">
  <h2><%= @category.title %></h2>

  <ul>
  <% @category.sub_categories.each do |sub_category| %>
  <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <li><%= sub_category.name %></li>
          <li><%= sub_category.address %></li>
          <li><%= sub_category.rating %></li>
          <li><%= sub_category.review %></li>
        </div>
        <div>
        <%= link_to "more details",
        category_sub_category_path(@category, sub_category) %>
        <%= link_to "edit",
        edit_category_sub_category_path(@category, sub_category) %>
        <%= link_to "delete",
        @sub_categories_path,
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
  </div>
    <% end %>
  </ul>
    <div>
      <%= link_to "Add New", new_category_sub_category_path(@category) %>
      <%= link_to "Back", :back %>
      <%= link_to "Home", categories_path %>
    </div>
</div>
<%= render "shared/footer" %>

<%# <%= link_to "Delete",
  sub_category_path(@sub_category),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
